<div *ngIf="itens.length === 0 " class="col-xs-12 table-responsive">
    <p>
        Não há itens no seu carrinho faça sua compra <a [routerLink]="['/restaurants']"> aqui </a>
    </p>
</div>
<div *ngIf="itens.length > 0" class="col-xs-12 table-responsive">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Quantidade</th>
                <th>Item</th>
                <th>Descrição</th>
                <th class="text-right">Subtotal</th>
                <th class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itens">
                <td class="text-center">
                    <a (click)="emitdecreaseQtd(item)" class="btn btn-sm"><i class="fa fa-minus"></i></a> {{item.quantidade}}
                    <a (click)="emitincreaseQtd(item)" class="btn btn-sm"><i class="fa fa-plus"></i></a>
                </td>
                <td>{{item.menuItem.name}}</td>

                <td>{{item.menuItem.description}}</td>
                <td class="text-right">{{item.valor() | currency: 'BRL' : true}}</td>
                <td class="text-right">
                    <a (click)="emitremove(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
                </td>
            </tr>
            <!--    <tr>
                <td class="text-center">
                    <a class="btn btn-sm"><i class="fa fa-minus"></i></a> 1
                    <a class="btn btn-sm"><i class="fa fa-plus"></i></a>
                </td>
                <td>Croissant</td>

                <td>Recheado com presunto e queijo</td>
                <td class="text-right">R$ 10,00</td>
                <td class="text-right">
                    <a class="btn btn-sm danger "><i class="fa fa-remove"></i></a>
                </td>
            </tr> -->

        </tbody>
    </table>
</div>
<!-- /.col -->